**/__pycache__/**
**/migrations/**
**/tmp/**
**/media/**
*.wav
*.mp3
*.pyc
*.sqlite3*

.vscode/
**/.env
**/env/**
response.json
db.json
auth_user.json
other_models.json
s3_to_api.py
db.json.gz
tran.db.json.gz