{% extends "decoding_app/base.html" %}

{% block content %}

    <legend class="border-bottom mb-4"> {{ title }}</legend>
     <div class="content-section2">
        <legend class="border-bottom mb-4">This platform</legend>
        <p>
        Get transcripts of any file containing audio (mp3s, videos, voicenotes ... etc.), making it possible to
        search and analyse large audio files. 
        </p>

        <p>
        Speech recognition or speech to text technology for South African languages
        and accents.
        </p>

    </div>

    </form>

{% endblock content %}


