{% if searchqueries.count != 0 %}
    <legend>Last searched</legend>
{% endif %}

{% for searchquery in searchqueries %}
    
    <div class="mx-3">
    
        <form class="keywordForm" method="post">
            {% csrf_token %}
            <input type="text" name="keyword" class="form-control-hide" maxlength="100" required id="id_keyword_history{{ forloop.counter }}" value="{{ searchquery.keyword }}"></input>
            <button class="btn-link" value="{{ searchquery.keyword }}" onclick="searchKeyword(this.value)"> {{ searchquery.keyword }}</button>
        </form>

    </div>
{% endfor %}